html, body {
	min-height: 100%;
}

h2 {
	font-family: 'Righteous', Arial, Helvetica, sans-serif;
	font-size: 1.7rem;
}

h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 700;
}

a {
	text-decoration: none;
}

/* ============== Black Navbar ================ */

.first-nav {
	background-color: #131313;
	padding: 0.5rem;
	font-family: Arial, Helvetica, sans-serif;

	display: flex;
	justify-content: space-between;
}

.first-nav a {
	color: #8f8f8f;
	margin: 0.5rem;
	font-size: 0.8rem;
}

.first-nav .left-nav a:first-child {
	margin-left: 0.8rem;
	color: white;
}

.first-nav a:hover {
	color: white;
}

/* ============= Sticky Navbar ================= */

.sticky-nav {
	overflow: hidden;
	background-color: white;
	width: 100%;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.sticky-nav .left-nav {
	padding: 0.8rem;
}

.sticky-nav .left-nav a {
	letter-spacing: -0.05rem;
	font-family: Helvetica, Arial, sans-serif;
	color: #cacaca;
	padding: 0.4rem;
	font-size: 0.9rem;
}

.sticky-nav a:hover {
	color: black;
}

.sticky-nav .right-nav .menu {
	display: none;
}

.sticky-nav .right-nav {
	display: flex;
}

.sticky-nav .right-nav button {
	margin: 0;
	padding: 0;
	border: none;
	border-radius: none;
	border-left: 1px solid #cacaca;
	border-bottom: 1px solid #cacaca;
	color: #cacaca;
	font-size: 0.9rem;
	height: 40px;
	width: 40px;
}

.sticky {
	position: fixed;
	top: 0;
}

/* ===================== Head ================= */

.head {
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 2fr 1fr;
	gap: 10px;
	margin: 10px;
}

.head div {
	min-height: 270px;
	height: 100%;
	display: flex;
}

.head span {
	padding: 20px;
}

.head div:nth-child(2) {
	background: url(https://github.com/kaliberpoziomka/tnw-responsive/blob/master/images/photo-header-2.jpg?raw=true)
		center center / cover;
}

.head div:nth-child(3) {
	background: url(https://github.com/kaliberpoziomka/tnw-responsive/blob/master/images/photo-header-3.jpg?raw=true)
		center center / cover;
}

.span-row-2 {
	grid-column: 1;
	grid-row: 1 / -1;
	background: url(https://raw.githubusercontent.com/kaliberpoziomka/tnw-responsive/master/images/photo-header-1.png)
		center center / cover;
}

.red-color {
	background: rgba(228, 22, 22, 0.609);
}

.head a {
	background: linear-gradient(rgba(0, 0, 0, 0.0001), rgba(0, 0, 0, 1));
	font-family: 'Bungee', Arial, Helvetica, sans-serif;
	color: white;
	font-size: 1.2rem;

	display: flex;
	align-items: flex-end;
}


.span-row-2 a {
	font-size: 2.5rem;
}

/* ================== Latest News ====================== */

.wrapper {
	margin: 0 auto;
	padding: 20px;
	max-width: 1200px;
}

.wrapper h2 {
	color: #ff4422;
	cursor: pointer;
}

.wrapper h2:hover {
	color: black;
}

.latest-news {
	margin-top: 100px;
}

.latest-news h2 {
	margin: 1.5rem 0;
	width: fit-content;
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
}

.news-article {
	cursor: pointer;
	margin: 0.9rem;
	flex: 0 1 calc(25% - 1.4rem);
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.news-article:nth-child(4n + 1) {
	margin: 0.9rem 0.9rem 0.9rem 0;
}

.news-article:nth-child(4n) {
	margin: 0.9rem 0 0.9rem 0.9rem;
}

.news-article h3 {
	padding-top: 1rem;
}

.news-article span {
	padding-top: 1rem;
	font-size: 0.8rem;
	color: #cacaca;
}

.news-article figure {
	width: 100%;
}

.news-article figure img {
	width: 100%;
}

.news-article span {
	font-family: Arial, Helvetica, sans-serif;
}

/* ==================== Funding Section ============== */

.funding {
	margin: 6rem 0 3rem 0;
}

.funding header {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

.funding header div span {
	padding-left: 1rem;
	margin-left: 1rem;
	border-left: solid #ff4422 1px;
	color: #ff4422;
	font-family: Arial, Helvetica, sans-serif;
}

.funding header div span:first-child {
	border: none;
}

.funding .flex-container {
	margin-top: 1.5rem;
}

.funding-article {
	flex: 0 0 calc(25% - 3.4rem);
	padding: 1rem;
	background: linear-gradient(
		#ff4422,
		#ff4422 17%,
		#ffebe8 17%,
		#ffebe8 40%,
		#fffaf8 40%,
		#fffaf8 67%,
		#ff4422 67%,
		#ff4422 calc(67% + 1px),
		#fffaf8 67%
	);
	display: flex;
	flex-direction: column;
	height: 230px;
	margin: 0.9rem;
}

.funding-article:nth-child(1) {
	margin-left: 0;
}

.funding-article:nth-child(4) {
	margin-right: 0;
}

.funding-article header {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.funding-article header div {
	margin-left: 20px;
	flex: 1;
	display: grid;
	gap: 10px;
	grid-template-rows: repeat(3, 1fr);
}

.funding-article header img {
	float: left;
	width: 60px;
}

.funding-article header h3 {
	color: white;
	font-size: 1rem;
}

.funding-article header div h2 {
	color: black;
	font-size: 1.5rem;
	font-family: 'Bungee';
}

.funding-article header div span {
	color: rgb(112, 112, 112);
	font-weight: 100;
	font-size: 0.7rem;
	padding: 0;
	margin: -10px 0 0 0;
	border: none;
}

.funding-article .tags {
	display: flex;
	flex-wrap: wrap;
	margin: 10px 0;
}

.tags .tag-line {
	flex: 1 1 100%;
	margin-top: 5px;
}

.tags .tag-line span {
	margin: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.9rem;
}

.funding-article .bottom {
	padding: 30px 0 30px 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.8rem;
	color: rgb(77, 77, 77);
}

/* ======================== Apps ====================== */

.apps-section {
	flex: 0 1 calc(33% - 10px);
	margin: 20px 10px;
	display: flex;
	flex-direction: column;
}

.apps-section:first-child {
	margin-left: 0;
}

.apps-section:last-child {
	margin-right: 0;
}

.apps-section h2 {
	margin-bottom: 1.5rem;
}

.apps-section .back-img {
	background: url(https://github.com/kaliberpoziomka/tnw-responsive/blob/master/images/greta.jpeg?raw=true) center
		center / cover;
	width: 100%;
	height: 250px;
}

.apps-section .back-img a {
	display: flex;
	height: 100%;
	background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.7));
	align-items: flex-end;
}

.back-img a header {
	padding: 15px;
}

.back-img a header h5 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.8rem;
}

.back-img a header h3 {
	font-family: 'Righteous', Arial, Helvetica, sans-serif;
	font-size: 1.1rem;
}

.back-img a header span {
	position: relative;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.7rem;
	bottom: 10px;
}

.back-img a header > * {
	width: 100%;
	margin: 15px 0;
	color: white;
}

.header-flex {
	display: flex;
	justify-content: space-between;
	height: 6rem;
	background-color: #ffebe8;
}

.header-flex header span {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.7rem;
}

.header-flex header {
	padding: 1rem;
	color: #ff4422;
}

.header-flex header h3 {
	font-size: 0.9rem;
	margin-top: 0.45rem;
	font-weight: 600;
}

.header-flex .img {
	background: url('https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/05/Snag_f70c117.png') center center /
		cover;
	width: 10rem;
}

.apps-section ul li a::before {
	content: '\2022';
	color: #ff4422;
	font-weight: bold;
	display: inline-block;
	margin-right: 0.6rem;
}

.apps-section ul li a {
	font-family: Arial, Helvetica, sans-serif;
	display: block;
	font-size: 0.8rem;
	color: #8f8f8f;
	padding: 0.6rem 0;
	border-bottom: 1px solid rgba(230, 230, 230, 0.99);
}

.apps-section ul li a:hover {
	color: black;
}

/* ========================== Latest Deals =========================== */

.latest-deals {
	margin: 3rem 0;
}

.latest-deals header {
	margin-bottom: 3rem;
	display: flex;
	justify-content: space-between;
}

.deal:nth-child(4n + 1) {
	margin-left: 0;
}

.deal:nth-child(4n) {
	margin-right: 0;
}

.latest-deals header span {
	color: #ff4422;
	font-family: Arial, Helvetica, sans-serif;
}

.deal {
	flex: 0 1 calc(25% - 15px);
	margin: 10px;
}

.deal figure {
	width: 100%;
}

.deal figure img {
	width: 100%;
}

.deal figcaption h2 {
	color: black;
	font-size: 1rem;
	padding: 0.5rem 0;
}

.deal figcaption h4 span {
	font-family: Arial, Helvetica, sans-serif;
	color: #8f8f8f;
	text-decoration: line-through;
	font-size: 0.8rem;
}

.deal figcaption h4 {
	vertical-align: text-bottom;
	color: black;
	font-size: 1.2rem;
}

/* =========================== Main Footer ====================== */

.main-footer {
	width: 100%;
	background: #131313;
	height: 150px;
}

.main-footer .flex-container {
	height: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.social-links {
	margin-bottom: 20px;
	display: flex;
	width: 100%;
	justify-content: center;
}

.social-links a {
	height: 40px;
	width: 40px;
	margin: 7px;
	border-radius: 30px;
	background: #333;
	border: 1px solid #333;
	color: white;
	text-align: center;
	font-size: 1.2rem;

	display: flex;
	justify-content: center;
	align-items: center;
}

.social-links a:hover {
	background: #131313;
}

.links a {
	margin: 0 0.5rem;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.75rem;
	color: rgb(124, 123, 123);
}

.links a:hover {
	color: white;
}

/* ========================== Footer ======================== */

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
	height: 100px;
}

footer span {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.8rem;
	color: rgb(124, 123, 123);
}

/* ================== Responsive Layout ================= */

@media (max-width: 1020px) and (min-width: 769px) {
	/* News article */

	.news-article {
		flex: 0 1 calc(33.333% - 1.2rem);
		margin: 0.9rem;
	}
	/* Reset margins */
	.news-article:nth-child(4n),
	.news-article:nth-child(4n + 1) {
		margin: 0.9rem;
	}

	.news-article:nth-child(3n + 1) {
		margin-left: 0;
	}

	.news-article:nth-child(3n) {
		margin-right: 0;
	}

	/* Funding */

	.funding-article {
		flex: 0 0 calc(33.333% - 3.2rem);
	}

	.funding-article:last-child {
		display: none;
	}

	.funding-article:nth-child(3) {
		margin-right: 0;
	}

	/* Apps */

	.apps-section {
		flex: 0 1 calc(50% - 10px);
	}

	.apps-section:nth-child(2) {
		margin-right: 0;
	}

	.apps-section:last-child {
		margin: 20px 10px 20px 0;
	}

	/* Deals */

	.deal {
		flex: 0 1 calc(33% - 20px);
	}

	.deal:nth-child(4n + 1) {
		margin-left: 10px;
	}

	.deal:nth-child(4n) {
		margin-right: 10px;
	}

	.deal:nth-child(3n + 1) {
		margin-left: 0;
	}

	.deal:nth-child(3n) {
		margin-right: 0;
	}
}

/* Phone display */

@media (max-width: 768px) {

	/* Nav */
	.first-nav {
		display: none;
	}

	.sticky-nav {
		justify-content: flex-end;
	}

	.sticky-nav .left-nav {
		display: none;
	}

	.sticky-nav .right-nav .menu {
		display: block;
	}

	/* Head */
	.head {
		display: grid;
		grid-template-rows: 1fr 1fr 1fr;
		grid-template-columns: 1fr;
	}

	.span-row-2 a {
		font-size: 1.2rem;
	}

	/* Latest News */
	.wrapper {
		padding: 0;
		margin: 10px;
	}

	.latest-news {
		margin-top: 20px;
	}

	.latest-news .flex-container {
		flex-direction: column;
		justify-content: space-between;
		height: 60vh;
		align-items: stretch;
	}

	.news-article:nth-child(n) {
		margin: 10px 0;
	}

	.news-article {
		flex: 0;

		display: grid;
		grid-template-columns: 72px auto;
		gap: 10px
	}

	.news-article figure {
		width: 72px;
	}

	.news-article span, h3 {
		display: block;
		padding-top: 27px;
		grid-column: 2;
		grid-row: 1;
		font-size: 0.6rem;
	} 

	.news-article h3 {
		position: relative;
		bottom: 10px;
		font-size: 0.8rem;
	}

	/* Funding */
	.funding {
		margin-top: 30px;
	}

	.funding header {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 130px;
	}

	.funding header div {
		margin-top: 20px;
		flex: 2;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		font-size: 0.9rem;
	}

	.funding header div span {
		margin: 0;
		padding: 0;
		border: none;
	}

	.funding .flex-container {
		margin: 0;
		flex-direction: column;
	}

	.funding-article {
		margin-left: 0;
		margin-right: 0;
	}

	.funding-article header {
		flex-direction: row;
	}

	.funding-article header div {
		margin: 0 0 0 20px;
	}

	.funding-article header div h3 {
		padding: 0;
		padding-bottom: 20px;
	}

	/* Most popular */
	.most-popular .flex-container {
		flex-direction: column;
	}

	.back-img a header h3 {
		padding: 0;
		margin-top: 0;
	}

	.apps-section .header-flex h3 {
		padding-top: 0;
	}

	.apps-section {
		margin-left: 0;
		margin-right: 0;
	}


	/* Latest Deals */
	.latest-deals {
		margin-top: 10px;
	}
	
	.latest-deals header {
		margin: 0 0 20px 0;
	}

	.latest-deals .flex-container {
		flex-direction: column;
	}

	.deal {
		display: flex;
		margin: 15px 0;
	}

	.deal figure {
		flex: 0 0 72px;
		margin-right: 15px;
	}

	.deal figcaption h2 {
		font-size: 0.9rem;
	}

	.deal figcaption h4 {
		font-size: 0.8rem;
	}

	.deal figcaption h4 span {
		font-size: 0.6rem;
	}

}
